<div class="container">
    <h1 class="mt-3">
        Recipes List
    </h1>
    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/recipe-details/add']" class="btn">
            Add Recipe
        </a>
    </div>
    <ng-container *ngIf="recipeDetails$ | async as recipeDetails">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Short Description</th>
                    <th>Meal</th>
                    <th>Allergen</th>
                    <th>isVisible</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipeDetail of recipeDetails">
                    <td>{{recipeDetail.recipeName}}</td>
                    <td>{{recipeDetail.recipeShortDescription}}</td>
                    <td>
                        <span *ngFor="let meal of recipeDetail.mealCategories">
                            <span class="badge bg-secondary me-2">{{meal.mealName}}</span>
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let allergen of recipeDetail.allergenCategories">
                            <span class="badge bg-secondary me-2">{{allergen.allergenName}}</span>
                        </span>
                    </td>
                    <td>{{recipeDetail.isVisible}}</td>
                    <td>
                        <a class="btn" [routerLink]="['/admin/recipe-details', recipeDetail.id]">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>