<div class="containter">
    <h1 class="mt-3">
        Add Allergen Category
    </h1>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2">
            <div class="mt-3">
                <label class="form-label">
                    Category Name
                </label>
                <input type="text" id="allergenName" class="form-control" name="allergenName" [(ngModel)]="model.allergenName">
            </div>
            <div class="mt-3">
                <label class="form-label">
                    Category Url Handle
                </label>
                <input type="text" id="allergenUrlHandle" class="form-control" name="allergenUrlHandle" [(ngModel)]="model.allergenUrlHandle">
            </div>
            <div class="mt-3">
                <button type="submit" class="btn">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
