<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" id="footer-container">
        <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="material-symbols-outlined">
                    skillet
                </span>
                Recipe Repository
                <span class="material-symbols-outlined">
                    skillet
                </span>
            </a>
        </div>
        </nav>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Meal Category</a></li>
                        <li><a class="dropdown-item" href="#">Allergen Category</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Recipe Details</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
