<div class="container">
    <h1 class="mt-3">
        Allergen Categories List
    </h1>
    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/allergen-categories/add']" class="btn">
            Add Allergen Category
        </a>
    </div>
    <ng-container *ngIf="allergenCategories$ | async as allergenCategories">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>
                        Allergen Category Name
                    </th>
                    <th>
                        Allergen Category Url Handle
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of allergenCategories">
                    <td>{{category.allergenName}}</td>
                    <td>{{category.allergenUrlHandle}}</td>
                    <td>
                        <a class="btn btn-light" [routerLink]="['/admin/allergen-categories', category.id]">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>
